<div class="col-sm-12" data-ng-include="'partials/navbar'"></div>

<div class="col-sm-12">
  <div class="container-narrow">
    <div class="row">
      <h3 class="section-divider text-center">Welcome Back!</h3>
    </div>
    <div class="row">
      <form class="form" name="form" ng-submit="login(form)" novalidate>

        <div class="form-group">
          <input type="text" name="email" class="form-control input-lg" data-ng-model="user.email" placeholder="Email address" required>
        </div>

        <div class="form-group">
          <input type="password" name="password" class="form-control input-lg" data-ng-model="user.password" placeholder="Password" required>
        </div>

        <div class="form-group has-error">
          <p class="help-block" data-ng-show="form.email.$error.required && form.password.$error.required && submitted">
             Please enter your email and password.
          </p>              
          <p class="help-block">{{ errors.other }}</p>
        </div>

        <button type="submit" class="btn btn-lg btn-primary col-sm-12"> Sign in </button>
      </form>
    </div>
    <div class="row">
      <hr>
      Not registered? <a href="/signup" class="text-center new-account">Create an account.</a>
    </div>
  </div>
</div>
